.AddEmployee{
    width: 800px;
    height: 750px;
    position: absolute;
    display: flex;
    background-color: #aeb6bfa2;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.addForm {
    width: 60%;
    height: 80%;
    background-color: #F5F3F4;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.7);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addFormContainer {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.addFormContainer h2 {
    font-size: 36px;
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.addFormContent {
    width: 85%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 5px 5px 20px;
    border-radius: 20px;
    background-color:#B0BEC5;
}

.FormGruop {
    width: 100%;
    height: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.FormGruop h3 {
    text-align: left;
}

.FormGruop input, .FormGruop select {
    width: 280px;
    height: 25px;
    margin: 5px;
    padding-left: 10px;
    align-self: center;
    border: none;
    outline: none;
    background-color: #FAFAFA;
    border-radius: 2px;
}

.addEmployeeButtons {
    width: 80%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.addEmployeeButtons button {
    width: 100px;
    height: 30px;
    margin: 5px;
    font-weight: bold;
    background-color: #FFCDD2;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.addEmployeeButtons button:hover{
    background-color: #EF9A9A;
}
.addEmployeeButtons button:active {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5) inset;
}