.Employee {
    width: 100%;
    height: 40px;
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 4fr 3fr 2fr 2fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    border-radius: 5px;
    background-color: #e0e0e0;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
    margin-bottom: 5px;
}

.Employee span {
    cursor: alias;
}

.Employee input {
    width: 100%;
    border: none;
    text-align: center;
    font-size: 16px;
    background: transparent;
    outline: none;
}

.Employee select {
    width: 100%;
    border: none;
    text-align: center;
    font-size: 16px;
    background: transparent;
    outline: none;
}

.employeeItem {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Employee .employeeOptions {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Employee .employeeOptions button {
    border: none;
    background: transparent;
}

.updateEmployee {
    display: flex;
    justify-content: center;
    align-items: center;
}

.option {
    cursor: pointer;
}

.option:hover {
    transform: scale(1.2);
}
