.Admin {
    width: 1000px;
    height: 750px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.7);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ba181b;
}

.Admin li {
    list-style: none;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.AdminSideBar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 2.2fr 0.3fr;
    gap: 0px 0px;
    grid-template-areas:
        "CompanyName"
        "NavBar"
        "LogOut";
    width: 200px;
    height: 750px;
}
.CompanyName {
    grid-area: CompanyName;
    justify-self: center;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #ffffff;
    font-size: 24px;
    border-bottom: 2px solid;
}
.NavBar {
    grid-area: NavBar;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.LogOut {
    grid-area: LogOut;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.LogOut button {
    width: 70%;
    height: 60%;
    border: 3px solid;
    border-radius: 10px;
    color: #660708;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    background: transparent;
    cursor: pointer;
}

.LogOut button:active {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.7) inset;
}

.NavBarItem {
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    color: #ffffff;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "Icon Name";
}

.Icon {
    grid-area: Icon;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Name {
    grid-area: Name;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.NavBarItem:hover {
    color: #660708;
}

/* .AdminSideBar {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.NavBar {
    width: 100%;
    height: 80%;
    border: 1px solid;
} */

.AdminContent {
    width: 80%;
    height: 100%;
    background-color: #f5f3f4;
    border-radius: 30px;
    box-shadow: -1px 0 6px rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selected {
    color: #660708;
}
