.InitialSetup {
    width: 1000px;
    height: 750px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.7);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ebe7e9;
}

.setupContainer {
    width: 90%;
    height: 90%;
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: 1.1fr 0.6fr 2fr 0.3fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        "Introduction Introduction"
        "OperationHours OperationHours"
        "Roles Categories"
        "setupButtons setupButtons"; 
}

.InitialSetup input {
    outline: none;
}

.Introduction { 
    grid-area: Introduction; 
    width: 100%;
    height: 100%;
}

.Introduction h1 {
    font-size: 68px;
    text-align: center;
}

.Introduction p {
    font-size: 22px;
    text-align: center;
}

/* ##################################################################################### */

.OperationHours { 
    grid-area: OperationHours; 
    width: 90%;
    height: 90%;
    padding: 5px 30px;
    justify-self: center;
    align-self: flex-end;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    background-color: #D3D3D3;

}
.OperationHours p {
    font-style: italic;
}


.OperationHours form {
    margin: 10px 0px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}


.OperationHours input[type="time"]{
    margin-left: 30px;
    padding-left: 10px;
    cursor: text;
    
}

.OperationHours input[type="submit"]{
    padding: 0px 10px;
    width: 100px;
    font-weight: bold;
    cursor: pointer;
}   

/* ##################################################################################### */

.Roles { 
    grid-area: Roles; 
    width: 90%;
    height: 90%;
    justify-self: center;
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    background-color: #E6B0AA;

}

.rolesContent {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
}

.rolesContent h2 {
    font-size: 36px;
}

.rolesContent p {
    font-style: italic;
}

.rolesContent form {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.rolesContent input {
    border: none;
    width: 110px;
    height: 25px;
    border-radius: 5px;
    padding-left: 10px;
    background-color: #D3D3D3;
    color: #000000;
}

.rolesContent select {
    border: none;
    height: 25px;
    border-radius: 5px;
    outline: none;
    background-color: #D3D3D3;

}

.RoleTag {
    width: 90%;
    height: 30px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    margin: 5px;
    padding: 0px 10px;
}

.RoleTag .deleteRole {
    cursor: pointer;
}

.RoleTag .deleteRole:hover {
    color: #858585;
}

.rolesContent input[type="submit"] {
    width: 60px;
    padding: 0;
    font-weight: bold;
    background-color: #D32F2F;
    cursor: pointer;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
}

.rolesContent input[type="submit"]:hover{
    background-color: #d35656;
}

.rolesContent input[type="submit"]:active{
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4) inset;

}

.rolesContainer {
    width: 90%;
    height: 60%;
    justify-self: center;
    align-self: center;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4) inset;
    background-color: #FFFFFF;
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(4, 1fr); 
    gap: 5px 5px; 
    grid-template-areas: 
      ". ."
      ". ."
      ". ."
      ". ."; 
    overflow-y: auto;
}

/* ##################################################################################### */

.Categories { 
    grid-area: Categories; 
    width: 90%;
    height: 90%;
    justify-self: center;
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    background-color: #E6B0AA;
}

.categoriesContent {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
}

.categoriesContent h2 {
    font-size: 32px;
}

.categoriesConten p {
    font-style: italic;
}

.categoriesContent form {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.categoriesContent input {
    border: none;
    height: 25px;
    border-radius: 5px;
    padding-left: 10px;
    background-color: #D3D3D3;
    color: #000000;
}


.categoriesContent input[type="submit"] {
    width: 60px;
    padding: 0;
    font-weight: bold;
    background-color: #D32F2F;
    cursor: pointer;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);

}

.categoriesContent  input[type="submit"]:hover{
    background-color: #d35656;
}

.categoriesContent  input[type="submit"]:active{
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4) inset;

}

.categoriesContainer {
    width: 90%;
    height: 50%;
    justify-self: center;
    align-self: center;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4) inset;
    background-color: #FFFFFF;
    
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: repeat(6, 1fr); 
    gap: 5px 5px; 
    grid-template-areas: 
        "."
        "."
        "."
        "."
        "."
        "."; 
    overflow-y: auto;
}

.categoriesContainer::-webkit-scrollbar {
    -webkit-appearance: none;
}

.categoriesContainer::-webkit-scrollbar:vertical {
    width:10px;
}

.categoriesContainer::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
} 


.categoriesContainer::-webkit-scrollbar:horizontal {
    height: 10px;
}

.categoriesContainer::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.categoriesContainer::-webkit-scrollbar-track {
    border-radius: 10px;  
}

.Category {
    width: 90%;
    display: grid; 
    justify-self: center;
    align-self: center;
    grid-template-columns: 0.5fr 1fr 2fr 0.5fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "categoryId categoryCode categoryName deleteCategory"; 
    background-color: #CFD8DC;
    border-radius: 3px;
    
  }

.categoryId { 
    grid-area: categoryId; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.categoryCode { 
    grid-area: categoryCode; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.categoryName { 
    grid-area: categoryName; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.deleteCategoryContainer { 
    grid-area: deleteCategory; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: #C62828;
}

.deleteCategory {
    cursor: pointer;
}

/* ##################################################################################### */

.setupButtons { 
    grid-area: setupButtons; 
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}




.setupButtons button {
    margin: 0px 5px;
    height: 30px;
    width: 120px;
    border: none;
    background-color: #D3D3D3;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6);
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    font-weight: bold;

}


.setupButtons button:active {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6) inset;
}

.setupButtons button:disabled {
    cursor: not-allowed;
}
