@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

.Login {
    width: 900px;
    height: 650px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.loginContent {
    width: 55%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #EDF2F4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginContainer{
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginContainer h2 {
    width: 100%;
    height: 15%;
    
    font-size: 72px;
    align-self: flex-start;
}

.loginContainer p {
    align-self: flex-start;
    width: 100%;
    height: 10%;
    margin-left: 5px;
    margin-top: 10px;
}

.loginContainer form {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginContainer input {
    width: 350px;
    height: 50px;
    padding-left: 30px;
    font-size: 18px;
    outline: none;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.loginContainer input[type="submit"]{
    width: 400px;
    height: 50px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    background-color: #E5383B;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6);
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 5px;
}


.Login  .inputGroup {
    width: 90%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Login .loginIcon {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D3D3D3;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

}

.loginButton {
    width: 90%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginBanner {
    width: 45%;
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-image: linear-gradient(10deg, #2b2d42a3 0%, #2b2d429f 100%), url("../img/pexels-oleg-magni-1005639.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.loginBanner h1 {
    font-family: 'Staatliches', cursive;
    color: #B40421;
    font-size: 112px;
    letter-spacing: 10px;
    margin: 0px 40px;
}

.loginBanner p {
    color: #F5F3F4;
    font-size: 36px;
    margin: 0px 40px 40px 40px;
}