@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

.Register {
    width: 900px;
    height: 750px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}



 .registerBanner {
    width: 45%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-image: linear-gradient(10deg, #2b2d42a3 0%, #2b2d429f 100%), url("../img/pexels-guilherme-rossi-1819669.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.registerBanner h1 {
    font-family: 'Staatliches', cursive;
    color: #B40421;
    font-size: 112px;
    letter-spacing: 10px;
    margin: 0px 40px;
}

.registerBanner p {
    color: #F5F3F4;
    font-size: 36px;
    margin: 0px 40px 40px 40px;
}

.registerContent {
    width: 55%;
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #EDF2F4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registerContainer {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.registerContainer h2 {
    width: 100%;
    height: 15%;
    font-size: 62px;
}

.registerContainer p {
    align-self: flex-start;
    margin: 5px;
}

.registerContainer form {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registerContainer input {
    width: 250px;
    height: 30px;
    margin-bottom: 5px;
    padding: 0px 10px;
    margin-left: 10px;
    border: none;
    background: none;
    border-bottom: 1px solid;
    outline: none;

}

.registerContainer input[type="submit"]{
    width: 350px;
    height: 40px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    background-color: #E5383B;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6);
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 5px;
}

.registerContainer input[type="submit"]:hover {
    background-color: #cc3134;
} 

.registerContainer input[type="submit"]:active {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6) inset;

}


.formGroup {
    width: 90%;
    padding: 10px;
}

.inputGroup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.registerButton {
    width: 90%;
    height: 10%;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.formInput {
    display: flex;
    align-items: center;
    justify-content: center;
}