@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  box-sizing: border-box;
}
